<%= form_with(model: rider, local: true) do |form| %>
  <% if rider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rider.errors.count, "error") %> prohibited this rider from being saved:</h2>

      <ul>
      <% rider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parade %>
    <%= form.text_field :parade, id: :rider_parade %>
  </div>

  <div class="field">
    <%= form.label :float %>
    <%= form.text_field :float, id: :rider_float %>
  </div>

  <div class="field">
    <%= form.label :side %>
    <%= form.text_field :side, id: :rider_side %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level, id: :rider_level %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position, id: :rider_position %>
  </div>

  <div class="field">
    <%= form.label :userid %>
    <%= form.number_field :userid, id: :rider_userid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
